/* 个人定制样式，为避免不可预测的冲突，将定制样式保存为一个单独的文件 */
/* 尽量通过样式覆盖的方法进行样式定制 */

body {
    font: 13px / 1.4 'microsoft Yahei';
    height: auto;
    min-height: 100%;
}
.markdown-body {
    font-family: 'microsoft Yahei';
    font-size: 16px;
}
.markdown-body code, .markdown-body tt {
    background-color: #aee0f1;
}

.markdown-body pre code {
    font-size: 100%;
}
.markdown-body pre {
    background: #f5f2f0;
}

/* 目录 */
aside .contents {
    /* top: 137px; */
    /* right: 18px; */
}
aside .contents-list {
    /* top: -1px; */
    /* bottom: auto; */
    overflow-y: auto;
}

.main {
    width: 720px;
    margin: 0 auto;
    /* background: lightslategray; */
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 250px;
}
.header .header-inner {
    margin: 0;
}
.header .logo {
    /* margin-left: 32px; */
}
.header .menu-icon {
    /* display: block; */
}
/* nav */
.container .nav {
    position: fixed;
    padding-top: 70px;
    z-index: 10;
    background-color: #fff;
}
.menu-filter, .menu-search {
    top: 70px;
}
.menubar {
    padding-top: 38px
}

/* container */
.container {
    margin: 0;
    border: 0;
}

/* 搜索 */
.search-results {
    overflow: auto;
}


@media screen and (max-width: 720px) {
    .header {
        width: 100%;
        position: static;
    }
}


/* scrollbar style */
body::-webkit-scrollbar {
    /* 滚动条整体部分，其中的属性有width, height, background, border（就和一个块级元素一样）等。  */
    width: 12px;
    height: 12px;
}

body::-webkit-scrollbar-button {
    /* 滚动条两端的按钮。可以用display: none让其不显示，也可以添加背景图片，颜色改变显示效果。 width:12px; */
    display: none;
    height: 12px;
}

body::-webkit-scrollbar-track {
    /* 外层轨道。可以用display: none让其不显示，也可以添加背景图片，颜色改变显示效果。  */
    border-radius: 20px;

}

body::-webkit-scrollbar-track-piece {
    /* 内层轨道，滚动条中间部分（除去）。  */
    background: #fff;
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
    /* 滚动条里面可以拖动的那部分  */
    background: #85868B;
    /* border-radius: 50px; */
}

body::-webkit-scrollbar-corner {
    /* 边角  */
    background: #fff;
}

body::-webkit-scrollbar-resizer {
    /* 定义右下角拖动块的样式  */
    background: #fff;
}

